<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>


    <!-- Server-side rendered navigation bar -->
    {% if logged_in_user %}
    <header>
        <!-- Upper left corner link to home -->
        <a href="/" class="nav-left">Home</a>

        <!-- Upper right corner links -->
        <nav class="nav-right">
            <a href="/explore/">Explore</a>
            <a href="/users/{{ user_url_slug }}/">{{ logged_in_user }}</a>
        </nav>
    </header>
    {% else %}
    <script>window.location.href = '/accounts/login/';</script>
    {% endif %}

    <!-- Posts will be dynamically rendered by React -->
    <!-- React entry point -->
    <div id="reactEntry">
        Loading ...
    </div>
    
    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
</body>
</html>